* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

/*
============================
||        Main Body       ||
============================
 */

.vertical-flex {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 50vw;
}

.horizontal-flex {
  display: flex;
  wrap: nowrap;
}
